.headerCard {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
}

.titleCard {
  width: 100%;
  text-align: center;
}

.inputForm{
  display: flex;
  justify-content: center;
  form{
    display:flex;
  }
}

.select-level{
  min-width: 100px;
  margin-left: 10px;
}

.btnAddTask{
  color: white;
  margin-left: 10px;
}